.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #777;
  &:hover {
    color: #000;
  }
}

.alert-container {
  position: relative;       
}
.contenedor {
  display: flex;
  flex-direction: row;  
  width: 90%;
}

.col {
  flex: 1;              
  padding: 16px;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .contenedor {
    flex-direction: column;
  }
}

html {
  font-size: 100%; /* 100% = 16px */
}

.btn-govco {
  border-radius: 1.563rem;
  font-family: WorkSans-Medium;
  font-size: 16px;
  line-height: 0.563rem;
  padding: 0.75rem 1rem;
  border-width: 0.125rem;
  border-style: solid;
}

.btn-govco.fill-btn-govco:hover,
.btn-govco.fill-btn-govco:focus-visible,
.btn-govco.outline-btn-govco:hover,
.btn-govco.outline-btn-govco:focus-visible,
.btn-govco.fill-secundary-btn-govco:hover,
.btn-govco.fill-secundary-btn-govco:focus-visible,
.btn-govco.outline-secundary-btn-govco:hover,
.btn-govco.outline-secundary-btn-govco:focus-visible {
  background-color: #004884;
  border-color: #004884;
  color: #FFFFFF;
}

.btn-govco.fill-btn-govco:focus-visible,
.btn-govco.outline-btn-govco:focus-visible,
.btn-govco.fill-secundary-btn-govco:focus-visible,
.btn-govco.outline-secundary-btn-govco:focus-visible {
  outline: max(0.125rem, 0.125rem) solid #000000;
  outline-offset: max(0.125rem, 0.188rem);
}

.btn-govco.fill-btn-govco,
.btn-govco.outline-btn-govco {
  border-color: #3366cc;
}

.btn-govco.fill-btn-govco,
.btn-govco.outline-secundary-btn-govco {
  background-color: #3366CC;
  color: #FFFFFF;
}

.btn-govco.outline-btn-govco,
.btn-govco.fill-secundary-btn-govco,
.btn-govco.outline-secundary-btn-govco:hover,
.btn-govco.outline-secundary-btn-govco:focus-visible {
  background-color: #FFFFFF;
  color: #3366CC;
}

.btn-govco.fill-secundary-btn-govco:focus-visible,
.btn-govco.outline-secundary-btn-govco:focus-visible {
  outline-color: #FFFFFF;
}

.btn-govco:disabled {
  background-color: #737373;
  border-color: #737373;
  color: #FFFFFF;
  pointer-events: none;
}

.btn-govco.fill-secundary-btn-govco:hover,
.btn-govco.fill-secundary-btn-govco:focus-visible,
.btn-govco.fill-secundary-btn-govco:disabled,
.btn-govco.fill-secundary-btn-govco,
.btn-govco.outline-secundary-btn-govco:hover,
.btn-govco.outline-secundary-btn-govco:focus-visible,
.btn-govco.outline-secundary-btn-govco:disabled,
.btn-govco.outline-secundary-btn-govco {
  border-color: #FFFFFF;
}