.checkout-tabla {
  display: none!important;
}

.contenedor-tabla {
  width: 80%;
  margin: 0 auto;
}

.encabezado-tabla {
  background: #004884;
  width: 100%;
}

/* estilos generales de la tabla */
.table-general {
  border: 2px solid #E6EFFD !important;
  opacity: 1;
  font-family: 'Works sans', sans-serif;
  width: 100% !important;
}

.table-general thead th {
  padding-top: 14px;
  padding-left: 15px;
  padding-right: 0px;
}

.table-general thead th:nth-child(1) {
  padding-left: 20px;
}

.table-general thead tr:nth-child(1) {
  width: 1088px !important;
  border-style: none !important;
}

// .table-general thead th:nth-child(1) {
//   width: 5%;
// }

// .table-general thead th:nth-child(2) {
//   width: 30%;
// }

// .table-general thead th:nth-child(3) {
//   width: 15%;
// }

// .table-general thead th:nth-child(4) {
//   width: 50%;
// }
.table-general thead th {
  width: auto;
}


.table-general tbody td {
  padding-left: 15px;
  padding-right: 0px;
}

.table-general tbody td:nth-child(1) {
  padding-left: 20px;
  padding-right: 0px;
}

// .table-general tbody td:nth-child(3){
//   text-align: right;
// }

.table-general thead tr th {
  vertical-align: top !important;
  background: #E6EFFD;
  color: #004884;
  text-align: left !important;
  height: 71px !important;
  font-family: 'Works sans', sans-serif !important;
  letter-spacing: 0px;
  font-size: 16px;
  border-bottom: none;
}

.table-general tbody {
  overflow-y: auto;
  width: 100%;
  max-height: 394px;
}

/* estilos del scroll */
.table-general tbody::-webkit-scrollbar {
  width: 8px;
  background: #E6EFFD;
  border-radius: 12px;
  opacity: 1;
}

.table-general tbody::-webkit-scrollbar-thumb {
  background: #004884;
  border-radius: 12px;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  height: 21px;
}

/* estilos del checkbox */
.table-general input[type="checkbox"]+label {
  color: #4B4B4B;
  font-size: 1rem;
}

.table-general input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #ffffff;
  margin: 0;
  font: inherit;
  color: #004884;
  height: 20px;
  width: 20px;
  border: 3px solid #004884;
  transform: translateY(-0.075em);
  border-radius: 0.25rem;
  display: inline-grid;
  place-content: center;
  float: left;
  margin-right: 0.5em;
  margin-top: 0.25em;
  position: relative !important;
  opacity: 1 !important;
}

.table-general input[type="checkbox"]:checked::after {
  content: "";
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  top: 0px;
  left: 3px;
  width: 7px;
  height: 13px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  border-radius: 2px;
}

.table-general input[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  pointer-events: auto!important;
}

.table-general input[type="checkbox"]:checked {
  background-color: #004884;
}

.table-general input[type="checkbox"]:focus-visible {
  outline: max(0.125rem, 0.15em) solid #000000;
  outline-offset: max(0.125rem, 0.15em);
}

.table-general input[type="checkbox"]:disabled {
  border: 0.188rem solid #737373;
}

.table-general input[type="checkbox"]:checked:disabled {
  background-color: #737373;
}

.table-general input[type="checkbox"]:disabled+label {
  color: #737373;
}

/* estilos del tbody */
.contenido-tablas {
  color: #4b4b4b;
  font-family: "Work sans", sans-serif;
  font-size: 14px;
  text-align: left;
}

.contenido-tablas td {
  height: 65px;
  vertical-align: middle !important;
}

/* estilo para foundation*/
.table-general tbody tr:nth-child(even) {
  border-color: inherit!important;
}

/* estilo en foundation*/
.table-general:not(.table-acentuada) tbody tr:nth-child(even) {
  background-color: transparent!important;
}

.table-general input[type=checkbox]+label {
  margin: 0!important;
}

// IMPUT
html {
  font-size: 100%; /* 100% = 16px */
}

.entradas-de-texto-govco {
  padding: 1rem 0;
  font-size: 16px;
  font-family: WorkSans-Regular;
}

.entradas-de-texto-govco label {
  color: #4B4B4B;
  display: block;
  font-size: 16px;
  margin-bottom: 0.625rem;
  line-height: 1.375rem;
}

.entradas-de-texto-govco .container-input-texto-govco {
  position: relative;
}

.entradas-de-texto-govco input {
  outline: none;
  background-color: #FFFFFF;
  border: 0.094rem solid #737373;
  border-radius: 0.313rem;
  width: 100%;
  padding: 0.5rem;
  color: #4B4B4B;
  font-size: 16px;
  margin-bottom: 0.5rem;
  display: inline;
  height: auto;
  box-sizing: inherit;
  line-height: 1.375rem;
}

.entradas-de-texto-govco input::placeholder {
  color: #737373;
}

.entradas-de-texto-govco input:not(.success):not(.error):focus {
  box-shadow: 0 0.25rem 0 #3366CC24;
  border: 0.094rem solid #3366CC;
}

.entradas-de-texto-govco input:disabled {
  background-color: #F2F2F2;
  border: 0.094rem solid #BABABA;
}

.entradas-de-texto-govco input:disabled::placeholder,
.entradas-de-texto-govco.disabled-govco label,
.entradas-de-texto-govco.disabled-govco span {
  color: #BABABA;
}

// SELECT 
/* Fuente iconografica */
// @font-face {
//     font-family: "govco-font";
//     src: url("../assets/icons/fonts/govco-font-icons.ttf") format("truetype");
//     font-weight: normal;
//     font-style: normal;
// }

/* WorkSans-Regular */
// @font-face {
//   font-family: 'WorkSans-Regular';
//   src: url('../assets/fonts/Work_Sans/static/WorkSans-Regular.ttf');
// }

// /* WorkSans-Medium */
// @font-face {
//   font-family: 'WorkSans-Medium';
//   src: url('../assets/fonts/Work_Sans/static/WorkSans-Medium.ttf');
// }

[class^="govco-"]:before,
[class*=" govco-"]:before {
    font-family: "govco-font";
    font-style: normal;
    font-weight: normal;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: 0.2em;

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 100%; /* 100% = 16px */
}

.label-desplegable-govco {
  text-align: left;
  font-family: WorkSans-Regular;
  font-size: 16px;
  letter-spacing: 0;
  color: #4B4B4B;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

.desplegable-govco {
  position: relative;
  text-align: left;
  font-family: WorkSans-Regular;
  font-size: 16px;
  letter-spacing: 0;
}

.desplegable-govco .govco-chevron-left:before {
  content: '\e8b6';
}

.desplegable-govco .govco-chevron-right:before {
  content: '\e8b7';
}

.desplegable-govco select {
  display: none;
}

.desplegable-govco .desplegable-selected-option {
  border: 0.063rem solid #737373;
  border-radius: 0.313rem;
}

.desplegable-govco button.desplegable-selected-option {
  line-height: 1.5rem;
}

.desplegable-govco .desplegable-selected-option:hover {
  border: 0.063rem solid #3366CC;
  border-radius: 0.313rem;
}

.desplegable-govco .desplegable-selected-option:focus-visible {
  outline: max(0.125rem, 0.15em) solid #000000;
  outline-offset: max(0.125rem, 0.15em);
}

.desplegable-govco .desplegable-selected-option:after {
  font-family: "govco-font";
  font-size: 12px;
  content: '\e8b5';
  position: absolute;
  margin-top: 0.188rem;
  right: 0.75rem;
  color: #3366cc;
}

.desplegable-govco .desplegable-selected-option:after:hover {
  position: absolute;
  content: "";
  top: 1rem;
  right: 0.625rem;
  width: 0;
  height: 0;
  border: 0.313rem solid transparent;
  border-color: #3366CC transparent transparent transparent;
}

.desplegable-govco:not(.desplegable-calendar-govco) .desplegable-selected-option.search-filter-selected-option.desplegable-arrow-active:not(.error-desplegable-govco):after {
  content: '\e8b8';
}

.desplegable-govco .desplegable-selected-option.desplegable-arrow-active {
  border: 0.063rem solid #3366CC;
  box-shadow: 0 0.25rem 0 #3366CC24;
}

.desplegable-govco .desplegable-items li,
.desplegable-govco .desplegable-selected-option {
  font-family: WorkSans-Regular;
  font-size: 16px;
  color: #4B4B4B;
  padding: 0.438rem 3.8rem 0.438rem 1rem;
  cursor: pointer;
  user-select: none;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  text-align: left;
  display: flex;
  align-items: center;
}

.desplegable-govco .desplegable-items li {
  height: 2.5rem;
}

.desplegable-govco .desplegable-selected-option[value="0"] {
  color: #737373;
}

.desplegable-govco .desplegable-selected-option.disabled-desplegable-govco,
.desplegable-govco .desplegable-selected-option:disabled {
  border-color: #BABABA;
  background-color: #F2F2F2;
  color: #BABABA;
  pointer-events: none;
}

.desplegable-govco .desplegable-selected-option.disabled-desplegable-govco input::placeholder,
.desplegable-govco .desplegable-selected-option.disabled-desplegable-govco input {
  color: #BABABA;
  pointer-events: none;
}

.desplegable-govco .desplegable-selected-option.disabled-desplegable-govco::after ,
.desplegable-govco .desplegable-selected-option:disabled::after {
  color: #BABABA;
}

.desplegable-govco .desplegable-selected-option.error-desplegable-govco,
.desplegable-govco .desplegable-selected-option.search-filter-selected-option.error-desplegable-govco {
  border-color: #A80521;
  color: #A80521;
}

.desplegable-govco .desplegable-selected-option.search-filter-selected-option.error-desplegable-govco::after {
  font-size: 14px;
  color: #FFFFFF;
  content: "\e92f";
  background-color: #A80521;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  padding-top: 0.125rem;
  border-radius: 50%;
  margin-top: 0;
}

.desplegable-govco .desplegable-selected-option.error-desplegable-govco::after ,
.desplegable-govco .desplegable-selected-option.search-filter-selected-option.error-desplegable-govco input::placeholder,
.desplegable-govco .desplegable-selected-option.search-filter-selected-option.error-desplegable-govco input {
  color: #A80521;
}

.label-desplegable-govco.disabled-desplegable-govco ~ .alert-desplegable-govco,
.label-desplegable-govco.disabled-desplegable-govco {
  color: #BABABA;
}

.desplegable-govco .desplegable-items {
  box-shadow: 0 0.188rem 0.375rem #00000029;
  position: absolute;
  outline: 0.063rem solid #3366CC;
  border-radius: 0.125rem;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0.063rem;
  margin-top: 0.25rem;
  max-height: 12.5rem;
  overflow-y: auto;
  list-style: none;
  padding: 0;
}

.desplegable-govco .desplegable-items::-webkit-scrollbar {
  width: 0.519rem;
  background: #004884 0% 0% no-repeat padding-box;
  border-radius: 0.75rem;
}

.desplegable-govco .desplegable-items::-webkit-scrollbar-thumb {
  border-radius: 0.75rem;
  box-shadow: 0 0.188rem 0.375rem #00000029;
  background-color: #FFFFFF;
  border: 0.063rem solid #000;
}

.desplegable-govco .desplegable-items li:hover,
.desplegable-govco .desplegable-items li:focus-visible {
  background-color: #E6EFFD;
}

.desplegable-govco .desplegable-items li:focus-visible {
  outline: max(0.125rem, 0.15em) solid #000000;
}

.desplegable-govco .desplegable-items li.same-as-selected {
  background-color: #3366CC;
  color: #FFFFFF;
}

.desplegable-govco .desplegable-hide {
  display: none;
}

.desplegable-govco ~ .alert-desplegable-govco {
  color: #4B4B4B;
  font-family: WorkSans-Regular;
  font-size: 16px;
  line-height: 1.375rem;
  margin-top: 1rem;
  display: block;
}

.desplegable-govco ~ .alert-desplegable-govco.error-desplegable-govco {
  color: #A80521;
}




/* Fuente iconografica */
// @font-face {
//   font-family: "govco-font";
//   src: url("../assets/icons/fonts/govco-font-icons.ttf") format("truetype");
//   font-weight: normal;
//   font-style: normal;
// }

/* Montserrat-Medium */
// @font-face {
//   font-family: 'Montserrat-Medium';
//   src: url('../assets/fonts/Montserrat/Montserrat-Medium.ttf');
// }

// /* Montserrat-SemiBold */
// @font-face {
//   font-family: 'Montserrat-SemiBold';
//   src: url('../assets/fonts/Montserrat/Montserrat-SemiBold.ttf');
// }

/* WorkSans-Regular */
// @font-face {
//     font-family: 'WorkSans-Regular';
//     src: url('../assets/fonts/Work_Sans/static/WorkSans-Regular.ttf');
// }

/* WorkSans-Medium */
// @font-face {
//   font-family: 'WorkSans-Medium';
//   src: url('../assets/fonts/Work_Sans/static/WorkSans-Medium.ttf');
// }

/* WorkSans-SemiBold */
// @font-face {
//     font-family: 'WorkSans-SemiBold';
//     //src: url('../assets/fonts/Work_Sans/static/WorkSans-SemiBold.ttf');
// }

html {
  font-size: 100%;
}

.container-alerta-govco {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.alerta-govco {
  width: 100%;
  height: 44px;
  max-width: 826px;
  max-height: 44px;
  border-radius: 3px !important;
  padding: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px !important;
  text-align: center;
  background-color: #F6F8F9 !important;
  border: 1px solid #3366CC !important;
  box-shadow: 0px 4px 0px #3366CC24;
}

.alerta-govco-sm {
  max-width: 664px;
}

.alerta-success-govco {
  background-color: #CDE6DF !important;
  border: 1px solid #0D684B !important;
  box-shadow: 0px 4px 0px #06846024;
}

.alerta-error-govco {
  background-color: #EECDD2 !important;
  border: 1px solid #B30937 !important;
  box-shadow: 0px 4px 0px #B3093724;
}

.alerta-content-text {
  margin: 0 auto;
  margin-left: 0px;
  font-family: "Montserrat-Medium";
  font-size: 16px;
}

.alerta-content-text-sm {
  font-size: 12px;
}

.alerta-icon-govco {
  margin-left: 4.5rem;
  margin-right: 10px;
}

.alerta-icon-govco::after {
  font-family: "govco-font";
  font-size: 24px;
}

.alerta-icon-notificacion-govco::after {
  content: "\e9f3";
}

.alerta-icon-success-govco::after {
  content: "\e8a4";
}

.alerta-icon-error-govco::after {
  content: "\eb72";
}

.alerta-link {
  font-family: "Montserrat-SemiBold";
  font-weight: normal;
  text-decoration: underline !important;
}

.anotificacion,
.anotificacion:hover {
    color: #3366CC;
}

.asuccess,
.asuccess:hover {
    color: #0D684B;
}

.aerror,
.aerror:hover {
    color: #B30937;
}

.container-alerta-interactivo{
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

/* style button trigger alerts */
.button-notification-loader-govco {
  background-color: #3366CC;
  min-width: 214px;
  height: 42px;
  border-radius: 1.563rem;
  color: #FFFFFF;
  font-family: WorkSans-Medium;
  font-size: 1rem;
  border: 1px solid #3366CC;
}

.button-notification-loader-govco:focus-visible {
  outline: max(0.125rem, 0.15em) solid #000000;
  outline-offset: max(0.125rem, 0.15em);
  background-color: #004884;
}

.button-notification-loader-govco:hover {
  background-color: #004884;
}

.button-notification-loader-govco:focus {
  background-color: #3366CC;
}

.button-notification-loader-govco:disabled {
  background-color: #737373;
  border-color: #737373;
}

.btn-example-alerts-interactive {
  min-width: 214px;
  padding: 4px!important;
  min-height: 45px;
  font-family: WorkSans-Medium;
  transition: none !important;
  margin-top: 20px;
  margin-left: 5px;
  background-color: #ffffff !important;
  color: #3366CC !important;
  border: 2px solid #3366CC!important;
  border-radius: 21px;
  letter-spacing: normal !important;
  text-transform: none !important;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal !important;
  box-shadow: none !important;
}

.btn-example-alerts-interactive:hover {
  border: 2px solid #004884!important;
  background-color: #004884!important;
  color: #FFFFFF!important;
}

.btn-example-alerts-interactive:focus {
  box-shadow: none !important;
  outline: max(0.125rem, 0.15em) solid #000000;
  outline-offset: max(0.125rem, 0.15em);
  border: 2px solid #004884!important;
  background-color: #004884!important;
  color: #FFFFFF!important;
}
/* end style button trigger alerts */

@media(max-width:575px) {
  .alerta-govco,
  .alerta-govco-sm {
      height: 55px;
      max-height: 55px;
      max-width: 296px;
  }

  .alerta-icon-govco {
      display: none;
  }

  .alerta-content-text,
  .alerta-content-text-sm {
      font-family: "WorkSans-Regular";
      font-size: 14px;
      margin: 10px !important;
  }

  .alerta-link {
      font-family: "WorkSans-SemiBold";
  }
}



/* Fuente iconografica */
@font-face {
  font-family: "govco-font";
  //src: url("../assets/icons/fonts/govco-font-icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Montserrat-SemiBold */
@font-face {
  font-family: "Montserrat-SemiBold";
  //src: url("../assets/fonts/Montserrat/Montserrat-SemiBold.ttf");
}

/* WorkSans-Medium */
@font-face {
  font-family: "WorkSans-Medium";
  //src: url("../assets/fonts/Work_Sans/static/WorkSans-Medium.ttf");
}

/* WorkSans-Regular */
@font-face {
  font-family: 'WorkSans-Regular';
  //src: url('../assets/fonts/Work_Sans/static/WorkSans-Regular.ttf');
}

html {
  font-size: 100%;
}

.modal-container-govco {
  position: relative !important;
  display: block !important;
  z-index: 1 !important;
  top: 0 !important;
  left: 0 !important;
  height: 100% !important;
  width: 100% !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  outline: 0;
}

.modal-dialog-govco {
  width: 100%;
  position: relative;
  pointer-events: none;
}

.modal-content-govco {
  height: 100%;
  box-shadow: 0px 3px 6px #00000029;
  border: none !important;
  border-radius: 0.313rem !important;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
}

.modal-header-govco {
  border-bottom: none !important;
  padding: 2rem 2rem 0px 2rem !important;
  justify-content: flex-end !important;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.modal-body-govco {
  margin: 0px 3.625rem auto 3.625rem !important;
  padding: 0px !important;
  padding-top: 14px !important;
}

.modal-title-govco {
  font-family: Montserrat-SemiBold;
  color: #004884;
  font-size: 2rem;
  margin-bottom: 1rem !important;
  margin: 0px;
  font-weight: normal;
  line-height: 1.219;
  width: fit-content;
}

.modal-subtitle-govco {
  font-family: Montserrat-SemiBold;
  color: #0b457f;
  font-size: 1.125rem;
  margin: 0px;
  margin-bottom: 2rem !important;
  font-weight: normal;
  line-height: 1.222;
  width: fit-content;
}

.modal-text-govco {
  font-family: WorkSans-Regular;
  width: 100%;
  font-size: 14px;
  color: #4B4B4B;
  margin-bottom: 2rem;
  padding-right: 1.25rem;
  line-height: 1.452;
}

.modal-footer-govco {
  margin: 0px 4.688rem auto 4.688rem;
  padding-bottom: 3.5rem !important;
  justify-content: flex-start !important;
  border-top: none !important;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}

.modal-buttons-govco {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.btn-modal-govco {
  font-family: WorkSans-Medium;
  display: block !important;
  border-radius: 25px !important;
  background-color: #3366cc !important;
  border: 2px solid #3366cc !important;
  padding-top: 11px !important;
  padding-bottom: 11px !important;
  padding-right: 48px !important;
  padding-left: 48px !important;
  font-size: 16px !important;
  line-height: 8px !important;
  letter-spacing: normal;
  text-transform: none;
  box-shadow: none;
  height: 42px;
  width: 165px;
}

.btn-modal-govco.btn-contorno {
  border: 2px solid #3366cc !important;
  background-color: transparent !important;
  color: #3366cc !important;
}

.btn-modal-govco:hover {
  background-color: #004884 !important;
  border: 2px solid #004884 !important;
}

.btn-modal-govco:focus {
  outline: 2px solid #000 !important;
  outline-offset: max(0.2px, 2.4px);
  background-color: #004884 !important;
  box-shadow: none !important;
  border: 2px solid #004884 !important;
}

.btn-modal-govco.btn-contorno:hover,
.btn-modal-govco.btn-contorno:focus {
  color: #ffffff !important;
}

.modal-header-alerts-govco {
  padding-top: 1.375rem !important;
}

.center-elements-govco {
  text-align: center;
}

.modal-icon {
  margin-bottom: 3px;
}

.confirmation-govco,
.success-govco,
.error-govco,
.warning-govco {
  width: 100%;
  margin-bottom: 1.875rem !important;
}

.confirmation-govco,
.modal-confirmation-icon::after {
  color: #3165c9;
}

.success-govco,
.modal-success-icon::after {
  color: #069169;
}

.error-govco,
.modal-error-icon::after {
  color: #a80521;
}

.warning-govco,
.modal-warning-icon::after {
  color: #ffab00;
}

.modal-text-center-govco {
  margin-bottom: 2rem;
  padding-right: 0px;
  line-height: 1.143;
}

.modal-icon-govco::after {
  font-family: "govco-font";
  font-size: 70px;
  line-height: 1.318;
}

.modal-confirmation-icon::after {
  content: "\e8a4";
}

.modal-success-icon::after {
  content: "\e8a4";
}

.modal-error-icon::after {
  content: "\eb72";
}

.modal-warning-icon::after {
  content: "\e92d";
}

@media(min-width:576px) {
  .modal-dialog-govco {
    max-width: 540px !important;
  }
}

@media(max-width:480px) {

  .modal-header-govco {
    padding: 1rem 1rem 0px 1rem !important;
  }

  .close-btn-modal {
    width: 8px;
    height: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #0d6efd;
  }

  .close-btn-modal:focus {
    padding: 0px !important;
    border: 1px solid #000 !important;
  }

  .govco-times {
    //background-image: url(../assets/icons/times.svg);
    min-width: 8px;
    min-height: 8px;
    background-size: 0.5rem 0.5rem;
  }

  .modal-body-govco {
    margin: 0px 1.5rem auto 1.5rem !important;
    padding-top: 1rem !important;
  }

  .modal-title-govco {
    font-size: 1.5rem;
    margin-bottom: 0.5rem !important;
    line-height: 1.208;
  }

  .modal-subtitle-govco {
    font-size: 1rem;
    margin-bottom: 1rem !important;
    line-height: 1.188;
  }

  .modal-text-govco {
    font-size: 0.75rem;
    margin-bottom: 1.5rem !important;
    padding-right: 0 !important;
    line-height: 1.604;
  }

  .modal-footer-govco {
    margin: 0px 1.5rem auto 1.5rem;
    padding-bottom: 3.5rem !important;
  }

  .modal-buttons-govco {
    display: block;
    width: 100%;
  }

  .btn-modal-govco {
    width: 100%;
    margin-bottom: 1rem !important;
  }

  .btn-contorno {
    margin-bottom: 0 !important;
  }

  .confirmation-govco,
  .success-govco,
  .error-govco,
  .warning-govco {
    margin-bottom: 1rem !important;
  }

  .modal-icon-govco::after {
    font-size: 48px;
  }

  .modal-header-alerts-govco {
    padding-top: 0 !important;
  }

  .modal-icon {
    margin-bottom: 6px;
  }
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left;
  border: rgb(227, 227, 227) 1px solid;
  background-color: white;
  border-radius: 0.3rem;
  overflow: auto;
  z-index: 2;
}